@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
*,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background-color: #d8d9da;
  color: #000000;
  font-family: 'Yantramanav', sans-serif;
  display: grid;
  justify-content: center;
  margin-top: 2rem;
  
}

.app_wrapper {
  display: grid;
  justify-items: center;
  h1 {
    margin-bottom: 2rem;
  }
}
